<div class="news">



     <div>
                    
          <h2>Blog</h2>
          {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
          
                    
               {% for year in postsByYear %}
               <table>
               <h3 id="{{ year.name }}-ref" style="font-weight: bold; color:black;" >{{year.name}}</h2>
               {% for post in year.items %}
               <tr>
                    <td class="date">{{ post.date | date: '%B %-d' }}</td>
                    <td class="announcement">
                         <a class="news-title" href="{{ post.url }}">{{ post.title }}</a>
                    </td>
               </tr>
               <div style="display:block; line-height:1.5; margin-block-start: 1em;margin-block-end: 1.20em;">
                    <p class="post-meta"></p> <span style="font-size:1.25rem;font-weight:100;"><a href="{{ post.url }}"></a></span>
               </div>
          {% endfor %}
          
          </table>
          {% endfor %}
     </div>
</div>
