<hr  class="">
<article id="more">
     {% assign has_res=false %} 
     {% capture res %} 
     {% assign relatedPosts = site.posts | where: 'tag', page.tag %}

          {% for post in relatedPosts limit:5 %} 
               {% if page.title!= post.title %} 
                    {% assign has_res=true %}
                         <li>
                              <a href="{{ BASE_PATH }}{{ post.url}}" class="">{{post.title}}</a>
                         </li>
               {% endif %} 
          {% endfor %} 
     {% endcapture %}

     <div id="more-articles">
          {% if has_res %}
          <p>Since you scrolled this far, you might be interested in some other things I wrote!</p>
          <ul>
               {{ res }}
               <!-- <li>
                    <a class="" href="/books/">Startup & Tech Book Reviews</a>
               </li> -->
          </ul>
          {% else %}
          <!-- <p>
               If you liked this, feel free to
               <a href="/blog">browse other articles on my blog</a>. or take a look at my quick
               <a href="/books/">book reviews</a>.
          </p> -->
          {% endif %}
     </div>
</article>