@charset "UTF-8";

html, body {
  height: auto;
  min-height: 100%;
}

img {
  max-width: none;
}

em img {
  max-width: 100%;
  margin-left: 0;
}

body {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrapper {
    max-width: -webkit-calc(800px);
    max-width:         calc(800px);
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
     padding-left: $horizontal-spacing-unit;
    @extend .clearfix;
}

.gradient {
     height: 5px;
     background: linear-gradient(to right, #CB00AB 0%, 
     #A20F9B 20%, 
     #CB00AB 52%, 
     #A20F9B 80%, 
     #CC00CC 100%)
}
// .page-content {
//      background-color: #F8F8F8;
// }
