---
layout: default
---

<div class="header-bar">
  <h1>{{ site.blog_name }}</h1>
  <h2>{{ site.blog_description }}</h2>
</div>


<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}. ~{{ post.content | number_of_words | divided_by: 250}} minute read, {{ post.content | number_of_words }} words.</p>
      <p>{{ post.description }}</p>
      {% if post.image %}
          <img class="col three" src="{{ site.baseurl }}{{ post.image}}">
      {% endif %}
      <p>{{ post.content | strip_html | truncatewords: 100 }}</p>
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}
