---
layout: about
profile:
  align: right
  image: 
  address: >
    <p>Sebastian Patron</p>
    <p><a href="mailto:sebastian.patrones@gmail.com?Subject=Hello%20again" target="_top">sebastian.patrones@gmail.com</a></p>
    <p>Czech No. <a href="tel:+420-774-309-052">+420-774-309-052</a></p>
    <p>US No. <a href="tel:+1-701-446-7924">+1-701-446-7924</a></p>
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
{% include header.html %}

<!-- <body>
    <div class="wrapper">
        <!-- {% include cv/sidebar.html %} -->
        
        <div class="main-wrapper">
           
           {{content}}
            
        </div><!--//main-body-->
    </div>
 
{% include cv/footer.html %}
 
{% include cv/scripts.html %}
</body>
</html>  -->